{% load i18n mptt_tags %}
<ul class="categories">
	<li>
		<a href="?category=all">{% trans "All" %}</a>
	</li>
	{% for category in categories %}
	<li>
		<a href="?category={{category.identifier}}">{{category.translated.title}}</a>
	</li>
	{% endfor %}
</ul>