{% extends 'admin/change_form.html' %}
{% load i18n admin_static admin_modify admin_urls %}

{% block breadcrumbs %}

	{{block.super}}
	
	{% if original and not original.has_published_version %}
	<div class="alert alert-warning"><i class="icon-time"></i> {% blocktrans with opts.module_name|capfirst as module_name %}{{module_name}} is not published and requires moderation{% endblocktrans %}</div>
	{% elif original and original.has_published_version and not original.approval_needed %}
	<div class="alert alert-success"><i class="icon-ok"></i> {% blocktrans with opts.module_name|capfirst as module_name %}{{module_name}} is currently published {% endblocktrans %}</div>
	{% elif original and original.has_published_version and original.approval_needed %}
	<div class="alert alert-warning"><i class="icon-ok"></i> {% blocktrans with opts.module_name|capfirst as module_name %}{{module_name}} has an older version published but the latest update needs moderation{% endblocktrans %}</div>
	{% endif %}
	
{% endblock %}

{% block content %}

<div id="content-main" class="">

<form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" class="form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="alert alert-danger">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}

<div class="row">
	<div class="col-md-9">
		<div class="inner">
		{% for inline_admin_formset in inline_admin_formsets %}
		    {% include inline_admin_formset.opts.template %}
		{% endfor %}
		</div>
	</div>
	<div class="col-md-3">	
		<div class="inner">
		{% for fieldset in adminform %}
			{% include "admin/includes/fieldset.html" %}
		{% endfor %}
		</div>
	</div>
</div>

<div class="form-actions">
	<div class="row-fluid">
		<div class="span12">
			
			{% if original %}<li><a href="delete/" class="deletelink btn btn-danger pull-right">{% trans "Delete" %}</a></li>{% endif %}
			
			

			  <button class="btn btn-primary" type="submit" name="_save">{% trans 'Save' %}</button>


			  	
			  	{% if perms.cmsbase.can_publish %}
			  	<button type="submit" name="_publish" class="btn btn-default">{% trans 'Save and publish' %}</button>
			  	{% endif %}
			  	<button type="submit" name="_preview" class="btn btn-default">{% trans 'Save and preview' %}</button>
			    <button type="submit" name="_continue" class="btn btn-default">{% trans 'Save and continue editing' %}</button>


			<a href="{% url opts|admin_urlname:'changelist' %}" class="small gray cancel">{% trans "Cancel" %}</a>
			
			
			
		</div>
	</div>

</div>

{% endblock %}

{% block inline_field_sets %}

{% endblock %}



{% block submit_buttons_bottom %}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}