{% extends 'team/member_meta.html' %}{% load i18n %}

{% block main %}
<div class="row-fluid">
	<div class="span12">
		
		<ol class="breadcrumb">
			<li><a href="{% url 'team:team' %}">{% trans "Team" %}</a></li>
			<li>{{member.translated.title}}</li>
		</ol>
		
		<h1>{{member.translated.title}}</h1>
		{{member.translated.content|safe}}
		<p class="categories">{% trans "Categories" %}: {% for category in member.categories.all %}<a href="{{category.get_absolute_url}}">{{category.translated.title}}</a>{% if not forloop.last %},{% endif %} {% endfor %}</p>
		
	</div>
</div>
{% endblock main %}