{% extends 'base' %}{% load i18n team_tags %}

{% block main %}
<div class="row-fluid">
	<div class="span9">
		{% for member in members %}
			<h1><a href="{{member.get_absolute_url}}">{{member.translated.title}}</a></h1>
			<p>{{member.translated.content|striptags|truncatewords:"50"}} <a href="{{member.get_absolute_url}}">{% trans "Read more" %}</a> </p>
		{% endfor %}
	</div>
	<div class="span3">
		<p>{% trans "Categories" %}</p>
		{% team_categories %}
	</div>
	
</div>
{% endblock main %}
